/* ------------------------------------------------------------------ */
/* General Styles
/* ------------------------------------------------------------------ */
html{
   scroll-behavior: smooth;
}
body {
    background: #0f0f0f; 
}

header {
    position: relative;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0,0,0,.6)), url("../image/bg.png");

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


/* ------------------------------------------------------------------ */
/* Navigation Bar
/* ------------------------------------------------------------------ */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
  min-height: 48px;
  width: auto;

  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.7), black);

}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}


ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
	text-decoration: none;
  text-align: left;
  color: #fff;

   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #fe6928; }



/* ------------------------------------------------------------------ */
/* Home
/* ------------------------------------------------------------------ */

 header .banner-text { 
    max-width: 1600px; 
    padding-top: 20vh;
    margin: auto;
}
 header .banner-text h1 {
    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
 }

 header .banner-text h3 {
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: #ddd;
    margin: 0 auto;
    width: 65%;
 }

 /* scrolldown link */
header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }
 header .scrolldown a:hover { color: #0762f9; }

/* ------------------------------------------------------------------ */
/* Grid for About and Resume
/* ------------------------------------------------------------------ */

#about .row, .education,.work{
   display: grid;
   grid-template-columns: 20% 60%;
   max-width: 1600px;
justify-content: center;
}


/* ------------------------------------------------------------------ */
/* About
/* ------------------------------------------------------------------ */

#about {
    background: #000524;
    padding: 10vh 0;
    overflow: hidden;
 }
 
 #about .row{
    margin: auto;
 }

 #about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 12px;
 }
 #about p {
    line-height: 30px;
    color: #ccc;
 }

 #about .profile-pic {
   width: 240px;
   border-radius: 100%;
}

#about .three {
display: flex;
justify-content: center;
align-items: center;
}

#about .main-col > * {
	text-align: initial;
}

/* ------------------------------------------------------------------ */
/* Resume
/* ------------------------------------------------------------------ */

#resume {
   background: #fff;
   overflow: hidden;
}


#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {
   border-bottom: 3px solid #0762f9;
   padding-bottom: 6px;
}
#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

.education{
	border-bottom: 1px solid #E8E8E8;

}

.education, .work {
   padding-bottom: 24px;
	 justify-self: center;
	 margin: 45px auto;
}
#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .main-col span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

#resume .main-col{
	text-align: left;
}

/* ------------------------------------------------------------------ */
/* Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
	background: #ebeeee;
	padding-top: 90px;
	padding-bottom: 60px;
}

#portfolio h1 {
	font: 15px/24px 'opensans-semibold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
	color: #95A3A3;
}

#portfolio img{
   width: 80%;
   max-width: 200px;
}

#portfolio #portfolio-wrapper{
   display: grid;
   grid-template-columns: 20% 20% 20%;
   justify-content: center;
   max-width: 1600px;
   margin: auto;
}

#portfolio .item-wrap{
height: 100%;
max-height: 80%;
}

.portfolio-item .item-wrap .overlay {
position: relative;
top: -79%;
max-width: 200px;
margin: auto;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: gray;
}

.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.portfolio-item-meta h5{
   color: white;
   font-size: 1.2em;
}


/* ------------------------------------------------------------------ */
/* Contact
/* ------------------------------------------------------------------ */

#contact {
   background: #191919;
   padding:50px 0;
   color: #636363;
}

#contact .row{
   max-width: 1600px;
   margin: auto;
}

#contact a, #contact a:visited  { color: #0762f9; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h4 {
   font: 30px/35px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin:20px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}

.mapContainer {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   height: 400px;
   width: 50%;
   margin: auto;
   }


/* ------------------------------------------------------------------ */
/* Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }


.social .btn:first-child{
   margin-right: 30px;
}
.social .btn{
   padding-left: 30px;
   padding-right: 30px; 
}
.social .btn i{
   margin-right: 15px;
}
.project-btn{
   background-color: #1abc9c !important;
}
.github-btn{
   background-color: #34495e !important;
}